.footer {
  background-color: #101a2e;
  text-align: center;
  padding: 0.625rem; /* Converted 10px to 0.625rem */
  width: 100%;
  color: aliceblue;
}

.more{
  text-decoration: underline;
  color: aliceblue;
}

