/* Icon.module.css */
.userContainer {
  position: relative;
  margin-right: 2rem;
}

.userIcon {
  position: relative;
  cursor: pointer;
}

.userIcon img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}

.dropdown {
  position: absolute;
  top: 3rem;
  left: 50%; /* Căn giữa dropbox theo chiều ngang */
  transform: translateX(-50%) translateY(-0.625rem); /* Dịch chuyển dropbox để căn giữa và áp dụng hiệu ứng đi xuống */
  background-color: #333;
  color: #fff;
  padding: 0.625rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.3);
  border-radius: 0.3125rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.dropdownVisible {
  opacity: 1;
  transform: translateX(-50%) translateY(0); /* Chỉ thay đổi trục Y khi hiển thị */
  pointer-events: auto;
}

.loginButton, .adminButton, .userButton {
  margin-top: 0.3125rem;
  width: 7.5rem;
  height: 2.5rem;
  border-radius: 0.3125rem;
  background-color: #fb5607;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white;
  padding: 0.3125rem 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.loginButton:hover,
.userButton:hover,
.adminButton:hover {
  background-color: #333;
  color: #fb5607;
}

.adminpic {
  border-radius: 2rem;
}

.icon {
  margin-right: 0.5rem;
}
