.ratingSection {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .ratingSection h2 {
    color: #ff4500;
  }
  
  .stars {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  
  .star, .starFilled {
    cursor: pointer;
    font-size: 2rem;
    color: #ccc;
  }
  
  .starFilled {
    color: gold;
  }
  
  .descriptionSection {
    color: white;
  }
  
  .headerDescription {
    color: #fb5607;
  }
  