.h2 {
  font-family: 'Hatton', sans-serif;
  font-size: 1.75rem;
  margin-top: 3rem;
  margin-left: 20rem;
  color: aliceblue;
  z-index: 1;
}

.searchResultsPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.searchResultsContainer {
  display: flex;
  flex: 1;
  background: url(../../assets/images/background.jpg);
  background-size: cover;
  padding-top: 4rem; /* Add padding-top to create space from the header */
}

.mainContent {
  flex: 7;
  padding: 1.25rem; /* Converted 20px to 1.25rem */
  color: aliceblue;
  position: relative;
  z-index: 0;
}

.sidebar {
  flex: 3;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

.moviesGrid {
  margin-top: 1rem;
  margin-left: 20rem;
  display: grid;
  grid-template-columns: repeat(5, 0.18fr);
  gap: 1rem; /* Converted 20px to 1.25rem */
}

.movieItem {
  text-align: center;
}

.moviePoster {
  width: 95%;
  height: 15rem; /* Converted 300px to 18.75rem */
  border-radius: 0.625rem; /* Converted 10px to 0.625rem */
  object-fit: cover; /* Ensure the image covers the entire area without distortion */
}

.movieTitle {
  margin-top: -0.3125rem; /* Converted -5px to -0.3125rem */
  font-size: 1rem; /* Converted 16px to 1rem */
  font-weight: bold;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.watchButton {
  position: absolute;
  bottom: 2.1875rem; /* Converted 35px to 2.1875rem */
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625rem 1.25rem; /* Converted 10px 20px to 0.625rem 1.25rem */
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border-radius: 2.5rem; /* Converted 40px to 2.5rem */
  background-color: #fb5607;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.625rem; /* Converted 10px to 0.625rem */
  color: white;  
}

.watchButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.imageContainer:hover .watchButton {
  opacity: 1;
}

.footerSection {
  position:absolute;
  bottom: 0;
  left:0;
  right: 0;
  z-index: 2; /* Add this line to ensure the footer is positioned above the overlay */
}

.h {
  color: aliceblue;
}
