/* Favorite.module.css */

/* Container for the entire favorite movies section */
.favoriteContainer {
  color: white;
  padding: 20px;
  margin-top: 3rem;
}

/* Layout for each movie row in the watchlist */
.movieRow {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Container for the movie poster */
.posterContainer {
  position: relative;
}

/* Styling for the movie poster image */
.poster {
  width: 150px;
  height: auto;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

/* Scale up the poster image on hover */
.posterContainer:hover .poster {
  transform: scale(1.1);
}

/* Styling for the watch button */
.watchButton {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-color: #fb5607;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 2rem;
  cursor: pointer;
}

/* Show the watch button on poster hover */
.posterContainer:hover .watchButton {
  opacity: 1;
  visibility: visible;
}

/* Change background color of watch button on hover */
.posterContainer:hover .watchButton:hover {
  background-color: #333;
}

/* Container for the movie information */
.movieInfo {
  flex: 1;
}

/* Styling for the movie title */
.movieInfo h2 {
  margin: 0 0 10px;
}

/* Styling for the movie description paragraphs */
.movieInfo p {
  margin: 5px 0;
  width: 75%;
}

/* Styling for the movie title color */
.title {
  color: #fb5607;
}

/* Styling cho nút Edit */
.editButton {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fb5607;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 1rem;
}

/* Dropdown container */
.dropdown {
  position: absolute;
  right: 10px;
  top: 40px;
  background-color: #fb5607;
  border-radius: 1rem;
  z-index: 1;
  border: 0.1rem #fb5607 solid;
}

/* Dropdown buttons */
.dropdownButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #fb5607;
  color: white;
  border: none;
  text-align: left;
  cursor: pointer;
  border-radius: 1rem;
}

.dropdownButton:hover {
  background-color: #333;
  color: white;
}
