.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    border-left: 1px solid #ddd;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
}

.message {
    color: green;
}

.sidebar h2{
    margin-top: 70px;
    text-align: center;
}