.sidebar {
    width: 200px; /* Adjust width to fit within the panel */
    padding: 20px;
    background-color: #f4f4f4;
    border-left: 1px solid #ddd;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px; /* Rounded corners */
    border-bottom-right-radius: 10px; /* Rounded corners */
}

.message {
    color: green;
}

.sidebar h2 {
    margin-top: 0;
    text-align: center;
}
