.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: white;
  outline: none;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 3rem;
  padding: 0 0.5rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 3;
}

.videoWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 28rem; /* 16:9 aspect ratio */
  overflow: hidden;
  margin-bottom: 9rem;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 70rem;
  height: 50rem;
  pointer-events: none; /* Disable interactions */
}

.buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.playButton, .telepartyButton, .addToListButton, .downloadButton {
  color: white;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border-radius: 2rem;
  background-color: #fb5607;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.4s ease;
  padding: 0.5rem;
}

.playButton:hover, .telepartyButton:hover, .addToListButton:hover, .downloadButton:hover {
  background: #333;
}

.details {
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-top: -20px; /* Adjust this value to reduce gap */
  display: flex;
  margin-right: 3rem;
  padding-left: 3rem;
  height: 18rem;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #fb5607;
}

.sect{
  font-size: 1.2rem;
  color: #333;
}

.description {
  margin: 10px 0;
}

.meta {
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0;
  width: 30%;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 5rem;
  width: 70%;
}

.cast {
  margin: 20px 0;
}
