.h2{
    color: white;
}

.inputField {
    width: 100%;
    padding: 1.25rem; /* Converted 20px to 1.25rem */
    margin-bottom: 1.25rem; /* Converted 20px to 1.25rem */
    border: 0.0625rem solid #ccc; /* Converted 1px to 0.0625rem */
    border-radius: 0.25rem; /* Converted 4px to 0.25rem */
    font-size: 1.125rem; /* Converted 18px to 1.125rem */
}

.btn {
    padding: 0.75rem 1.5rem; /* Converted 12px 24px to 0.75rem 1.5rem */
    border: none;
    border-radius: 0.25rem; /* Converted 4px to 0.25rem */
    background-color: #28a745;
    color: white;
    font-size: 0.75rem; /* Converted 12px to 0.75rem */
    cursor: pointer;
    margin: 0.625rem; /* Converted 10px to 0.625rem */
}

.btn:hover {
    background-color: #218838;
}

.message {
    margin-top: 1.25rem; /* Converted 20px to 1.25rem */
    font-size: 1rem;
    color: white;
    text-align: center;
}
