/* Categories.module.css */

.genreMoviesContainer {
  padding: 20px;
}

.moviesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Optional: Center the movie items */
}

.movieItem {
  width: 200px; /* Set a fixed width for each movie item */
  text-align: center;
  position: relative;
}

.moviePoster {
  width: 100%;
  height: 300px; /* Set a fixed height for each poster */
  border-radius: 10px;
  object-fit: cover; /* Ensure the image covers the entire area without distortion */
}

.movieTitle {
  margin-top: 5px; /* Reduce margin-top to bring title closer to poster */
  font-size: 16px;
  font-weight: bold;
}

.imageContainer {
  position: relative; /* Add this line to ensure the button is positioned relative to this container */
}

.watchButton {
  position: absolute;
  bottom: 10px; /* Position button 10px from the bottom */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px; /* Optional: Add rounded corners to button */
}

.imageContainer:hover .watchButton {
  opacity: 1;
}
