.h2{
  color: aliceblue;
}

.genreMoviesContainer {
  padding: 1.25rem; /* Converted 20px to 1.25rem */
  color: aliceblue;
}

.moviesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem; /* Converted 20px to 1.25rem */
  justify-content: center; /* Optional: Center the movie items */
}

.movieItem {
  width: 12.5rem; /* Converted 200px to 12.5rem */
  text-align: center;
  position: relative;
}

.moviePoster {
  width: 100%;
  height: 18.75rem; /* Converted 300px to 18.75rem */
  border-radius: 0.625rem; /* Converted 10px to 0.625rem */
  object-fit: cover; /* Ensure the image covers the entire area without distortion */
}

.movieTitle {
  margin-top: 0.3125rem; /* Converted 5px to 0.3125rem */
  font-size: 1rem; /* Converted 16px to 1rem */
  font-weight: bold;
}

.imageContainer {
  position: relative; /* Add this line to ensure the button is positioned relative to this container */
}

.watchButton {
  position: absolute;
  bottom: 0.625rem; /* Converted 10px to 0.625rem */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border: none;
  padding: 0.625rem 1.25rem; /* Converted 10px 20px to 0.625rem 1.25rem */
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border-radius: 2.5rem; 
  background-color: #fb5607;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.625rem; 
}

.watchButton:hover{
  background-color: rgba(0, 0, 0, 0.9);
}

.imageContainer:hover .watchButton {
  opacity: 1;
}

.footerSection{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}