/* Styles for the h2 element */
.h2 {
  font-family: 'Hatton', sans-serif;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-left: 20rem;
  color: aliceblue;
  z-index: 1;
}

/* Layout styles for the genre movies page */
.genreMoviesPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

 .genreMoviesContainer {
  display: flex;
  flex: 1;
  background: url(../../assets/images/streaming.jpg);
  background-size: cover;
  padding-top: 4rem; 
} 

 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
} 

.mainContent {
  flex: 7;
  padding: 1.25rem; /* Converted 20px to 1.25rem */
  color: aliceblue;
  position: relative;
  z-index: 0;
}

.sidebar {
  flex: 3;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Grid layout for displaying movies */
.moviesGrid {
  margin-top: 1rem;
  margin-left: 20rem;
  display: grid;
  grid-template-columns: repeat(5, 0.2fr);
  gap: 1rem; /* Converted 20px to 1.25rem */
}

.movieItem {
  text-align: center;
}

/* Styling for movie poster images */
.moviePoster {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 17rem; /* Converted 300px to 18.75rem */
  border-radius: 0.625rem; /* Converted 10px to 0.625rem */
  object-fit: cover; /* Ensure the image covers the entire area without distortion */
}

/* Container for the movie image and watch button */
.imageContainer {
  position: relative; /* Add this line to ensure the button is positioned relative to this container */
}

/* Styles for the watch button */
.watchButton {
  position: absolute;
  bottom: 0.625rem; /* Converted 10px to 0.625rem */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border: none;
  padding: 0.625rem 1.25rem; /* Converted 10px 20px to 0.625rem 1.25rem */
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border-radius: 2.5rem; 
  background-color: #fb5607;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.625rem; 
}

/* Hover effect for the watch button */
.watchButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Show the watch button on image hover */
.imageContainer:hover .watchButton {
  opacity: 1;
}

/* Footer section styles */
.footerSection {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2; /* Add this line to ensure the footer is positioned above the overlay */
}
