* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .App {
    background-image: url('../images/RT_300EssentialMovies_700X250_faded.jpg');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  