.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 13px;
  z-index: 1000;
  margin: 0;
  padding: 0 30px; 
  box-sizing: border-box;
}

.header a {
  display: inline-block;
}

.fanta {
  width: 120px;
  height: 60px;
  object-fit: cover;
}

.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.login a{
  color:#fb5607;
}