.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  margin: 0;
  box-sizing: border-box;
}

.header a {
  display: inline-block; /* Chỉ lấy kích thước của phần tử con (img) */
}

.img {
  width: 60px;
  height: 60px;
}