.forgot-password-section {
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    margin: 0;
    color: #fb5607;
}
  
.forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.forgot-password-form h1 {
    font-family: 'Hatton', sans-serif;
    font-size: 3rem;
    color: white;
    text-align: center;
}
  
.forgot-password-form .inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    margin-bottom: 20px;
}
  
.forgot-password-form .inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.75rem;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
}
  
.forgot-password-form input:focus ~ label,
.forgot-password-form input:valid ~ label {
    top: -5px;
}
  
.forgot-password-form .inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: white;
    border-bottom: 2px solid white;
}
  
.forgot-password-form .inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2rem;
    top: 20px;
}
  
.forgot-password-form .forget {
    margin: 25px 0 0 0;
    font-size: 0.85rem;
    color: white;
    display: flex;
    justify-content: space-between;
}
  
.forgot-password-form .forget label {
    display: flex;
    align-items: center;
}
  
.forgot-password-form .forget label input {
    margin-right: 3px;
}
  
.forgot-password-form .forget1 a {
    color: #fb5607;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}
  
.forgot-password-form .forget1 {
    margin: 25px 0 35px 0;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
}
  
.forgot-password-form .forget1 a:hover {
    text-decoration: underline;
}
  
.forgot-password-form button {
    margin-top: 5px;
    width: 220px;
    height: 50px;
    border-radius: 40px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    margin-bottom: 10px;
}
  
.forgot-password-form button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
  

  
.forgot-password-form .message {
    margin-top: 20px;
    font-size: 1rem;
    color: white;
    text-align: center;
}
  
.show-password { /* Added CSS for the show password icon */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    transition: color 0.3s;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Chiều cao của vùng hiển thị loading */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Màu nền mờ để hiển thị overlay */
  z-index: 9999; /* Đảm bảo nó hiển thị trên cùng */
  border-radius: 20px;
}

.loading-icon {
  font-size: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
>>>>>>> a87bf5e29bfa4c2ce75ce7eeb83a77b7b453304a
}