@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* HomePage.module.css */
.homePageBody {
  margin: 0;
  background-color: #000;
  color: #eee;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.homePage a {
  text-decoration: none;
}

.homePage header {
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

.homePage header a {
  color: #eee;
  margin-right: 40px;
}

